{% extends "base_temp.html" %}
  
  {% block title %}<title>Города</title>{% endblock %}
  {% block stylesheets %}
  {% load static %} <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/gallery/style.css' %}">
  {% load static %} <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css" >
  {% endblock %}
  
  
  {% block content %}
        <section class="mbr-gallery mbr-slider-carousel cid-rojr0Ta7NG" id="gallery4-f">
            <div class="container">
                <div>
                    <!-- Gallery -->
                    <div class="gallery-row">
                        <div class="mbr-gallery-layout-default">
                            <div class="row justify-content-center m-0">
                                <div class="row-first row justify-content-center m-0 col-md-10 p-0 col-lg-6">
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Москва"><img src="{% static 'assets/images/moscow.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Москва</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Санкт-Петербург"><img src="{% static 'assets/images/spb.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Санкт-Петербург</span>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Казань"><img src="{% static 'assets/images/kazan.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Казань</span>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Нижний Новгород"><img src="{% static 'assets/images/nn.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Нижний Новгород</span>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Владимир"><img src="{% static 'assets/images/vladimir.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Владимир</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-second row justify-content-center m-0 col-md-10 p-0 col-lg-6">
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Псков"><img src="{% static 'assets/images/pskov.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Псков</span>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Самара"><img src="{% static 'assets/images/samara.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Самара</span>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Сочи"><img src="{% static 'assets/images/sochi.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Сочи</span>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Ярославль"><img src="{% static 'assets/images/yaroslavl.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Ярославль</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mbr-gallery-item false p-2">
                                        <div href="" data-slide-to="0" data-toggle="modal">
                                            {% load static %}<a href="/temp/city/Якутия"><img src="{% static 'assets/images/yakutia.jpg' %}" alt="" title="">
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Якутия</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Lightbox -->
                    <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery4-f">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            {% load static %}<img src="{% static 'assets/images/cathedral-of-christ-the-saviour-1-1024x720.jpg' %}" alt="" title="">
                                        </div>
                                        <div class="carousel-item">
                                            {% load static %}<img src="{% static 'assets/images/45ad714773b44d1381a0e88e741132c5-xl-1024x720.jpg' %}" alt="" title="">
                                        </div>
                                    </div>
                                    <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery4-f">
                                        <span class="mbri-left mbr-iconfont" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery4-f">
                                        <span class="mbri-right mbr-iconfont" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <a class="close" href="#" role="button" data-dismiss="modal">
                                        <span class="sr-only">Close</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section once="footers" class="cid-rojp8wg0DH" id="footer6-4">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">Достопримечательности России 2019</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrascript %}
  {% load static %}<script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/vimeoplayer/jquery.mb.vimeo_player.js' %}"></script>
  {% load static %}<script src="{% static 'assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js' %}"></script>
  {% load static %}<script src="{% static 'assets/masonry/masonry.pkgd.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/theme/js/script.js' %}"></script>
  {% load static %}<script src="{% static 'assets/gallery/player.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/gallery/script.js' %}"></script>
  {% load static %}<script src="{% static 'assets/slidervideo/script.js' %}"></script>
{% endblock %}