{% extends "base_temp.html" %}

{% block title %}<title>Поиск</title>{% endblock %}

{% block content %}
   <div class="container" style="padding-bottom: 100px">
    <h1 style="margin:100px 0 0 200px">{% if city %}Достопримечательности города {{ city }}
    {% elif search_query %}{% if sights_list %}Результаты поиска для &laquo;{{ search_query }}&raquo;{% else %}По запросу &laquo;{{ search_query }}&raquo; результатов не найдено {% endif %}
    {% elif sights_list %}{{ sights_list }}{% endif %}</h1>
    {% if search_query %}
    {% for sight in sights_list %}
    <section class="cid-rov0sI3jzj" id="image" style="padding-bottom: 0;margin-top: 10px">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <figure class="media-container-row">
                    <div class="mbr-figure" style="width: 80%;">
                        <img src="{{ sight.postimage_set.first.image.url }}" alt="" style="width:320px"
                             title="">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">
                                <a class="nav-link link text-black display-4" href="{{ sight.get_absolute_url }}">
                                    <h2 class="mbr-fonts-style display-1">
                                                <strong>{{ sight.name }}</strong>
                                            </h2>
                                    <p>{{ sight.city }}</p>
                                </a>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </section>
    {% endfor %}
    {% else %}
    {% for sight in post_list %}
    <section class="cid-rov0sI3jzj" id="image" style="padding-bottom: 0;margin-top: 10px">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <figure class="media-container-row">
                    <div class="mbr-figure" style="width: 80%;">
                        <img src="{{ sight.postimage_set.first.image.url }}" alt="" style="width:320px"
                             title="">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">
                                <a class="nav-link link text-black display-4" href="{{ sight.get_absolute_url }}">
                                    <h2 class="mbr-fonts-style display-1">
                                                <strong>{{ sight.name }}</strong>
                                            </h2>
                                    <p>{{ sight.city }}</p>
                                </a>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </section>
    {% endfor %}
    {% endif %}
   </div>

    <section once="footers" class="cid-rojp8wg0DH" id="footer6-4"style="position: absolute;bottom: 0;width: 100%;">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">Достопримечательности России 2019</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extrascript %}
  {% load static %}<script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js' %}"></script>
  {% load static %}<script src="{% static 'assets/ytplayer/jquery.mb.ytplayer.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/vimeoplayer/jquery.mb.vimeo_player.js' %}"></script>
  {% load static %}<script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
  {% load static %}<script src="{% static 'assets/theme/js/script.js' %}"></script>
  {% load static %}<script src="{% static 'assets/slidervideo/script.js' %}"></script>
{% endblock %}